/*
タグの可視化のためのものたち
*/

#header {
    background-color: red;
}

#main {
    background-color: orange;
}

#footer-nav {
    background-color: yellow;
}

#footer-info {
    background-color: yellowgreen;
}