<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" th:href="@{/css/base.css}" /> -->
    <title>hint</title>
</head>
<body>
    <header>
        header
        <nav>
        </nav>
    </header>
    <main>
        <div class="progress">
        </div>
        <div class="hint">
            <h1>[[${task.spot_id}]].[[${task.title}]]</h1>
            <img th:src="@{${task.image_url}}" width="320px"> <br/>
            <th><span>ヒント</span></th>
            <td>[[${task.hint}]]</td>
           
        </div>
        <p>
            <a th:href=@{/}>HOME</a>
            <a th:href=@{/task}>問題に戻る</a>
        </p>
    </main>
    <footer>
        <nav class="footer-nav">
            fottet-nav
        </nav>
        <div class="footer-info">
            footer-info
        </div>
    </footer>
</body>
</html>